DAM_1/MARKUP-LANGUAGES/2. Term/XML/XSL/FILM/peliculas.dtd

<!ELEMENT peliculas (pelicula)+>
<!ELEMENT pelicula (titulo,autor*,productor*,director*, interprete*, comentario*)>
<!ATTLIST pelicula genero CDATA #IMPLIED>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT productor (#PCDATA)>
<!ELEMENT director (#PCDATA)>
<!ELEMENT interprete (#PCDATA)>
<!ELEMENT comentario (#PCDATA)>